<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>picture</key>
		<string>b</string>
		<key>text</key>
		<string>小家伙，你好啊，我是你的大哥哥，哈哈哈哈哈哈啊哈大家发哈哈</string>
		<key>icon</key>
		<string>a</string>
		<key>name</key>
		<string>胡杏儿</string>
		<key>vip</key>
		<string>0</string>
	</dict>
	<dict>
		<key>text</key>
		<string>不要流露爱你个饭卡减肥卡减肥看见啊啊剪短发，倒霉饭卡减肥空间看见卡时间饭卡就分开将大幅空间啊开发打开，发节快放假放假卡积分，a.fakfjakfjakf减肥卡减肥啦卡发放就阿拉法、åƒ啊犯贱犯贱啊离开放假啊快乐发觉康复哈哭发减肥卡就分开就疯狂打飞机啊几口饭就咖啡机看</string>
		<key>icon</key>
		<string>b</string>
		<key>name</key>
		<string>张三</string>
		<key>vip</key>
		<string>1</string>
	</dict>
	<dict>
		<key>picture</key>
		<string>d</string>
		<key>text</key>
		<string>发卡号发科技疯狂垃圾饭卡理解fkajfdkajfioajfoejkfkjn放假的发觉饭卡的减肥拉克警方就，几点开服，、放假啊放假啊快乐放假滴阿姐发嗲就覅，放假啊空间饭卡，发觉</string>
		<key>icon</key>
		<string>b</string>
		<key>name</key>
		<string>黄大结果</string>
		<key>vip</key>
		<string>0</string>
	</dict>
	<dict>
		<key>picture</key>
		<string>b</string>
		<key>text</key>
		<string>小家伙，你好啊，我是你的大哥哥，哈哈哈哈哈哈啊哈大家发哈哈</string>
		<key>icon</key>
		<string>a</string>
		<key>name</key>
		<string>胡杏儿</string>
		<key>vip</key>
		<string>1</string>
	</dict>
	<dict>
		<key>picture</key>
		<string>b</string>
		<key>text</key>
		<string>小家伙，你好啊，我是你的大哥哥，哈哈哈哈哈哈啊哈大家发哈哈</string>
		<key>icon</key>
		<string>a</string>
		<key>name</key>
		<string>胡杏儿</string>
		<key>vip</key>
		<string>1</string>
	</dict>
	<dict>
		<key>picture</key>
		<string>b</string>
		<key>text</key>
		<string>小家伙，你好啊，我是你的大哥哥，哈哈哈哈哈哈啊哈大家发哈哈</string>
		<key>icon</key>
		<string>a</string>
		<key>name</key>
		<string>胡杏儿</string>
		<key>vip</key>
		<string>0</string>
	</dict>
	<dict>
		<key>picture</key>
		<string>b</string>
		<key>text</key>
		<string>小家伙，你好啊，我是你的大哥哥，哈哈哈哈哈哈啊哈大家发哈哈</string>
		<key>icon</key>
		<string>a</string>
		<key>name</key>
		<string>胡杏儿</string>
		<key>vip</key>
		<string>0</string>
	</dict>
	<dict>
		<key>picture</key>
		<string>b</string>
		<key>text</key>
		<string>小家伙，你好啊，我是你的大哥哥，哈哈哈哈哈哈啊哈大家发哈哈</string>
		<key>icon</key>
		<string>a</string>
		<key>name</key>
		<string>胡杏儿</string>
		<key>vip</key>
		<string>1</string>
	</dict>
	<dict>
		<key>picture</key>
		<string>b</string>
		<key>text</key>
		<string>小家伙，你好啊，我是你的大哥哥，哈哈哈哈哈哈啊哈大家发哈哈</string>
		<key>icon</key>
		<string>a</string>
		<key>name</key>
		<string>胡杏儿</string>
		<key>vip</key>
		<string>1</string>
	</dict>
</array>
</plist>
